@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
    box-sizing: inherit;
    margin:0;
    padding:0;
 }

html,body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x:hidden;
    }

body{
    background:#222831;
    color:#e5e5e5;
    font-family: 'Roboto', serif;
    position:relative;

}
a{
text-decoration:none;
color:#efb1ff;
}

li{
    list-style: none;
}
header{
   /* border:2px solid white; */
   display:flex;
   justify-content:space-between;
   margin:1em .4em 0em;
   position:sticky;
   height:4em;
   top:0;
   z-index:100;
   background:#222831;
   opacity:1;
   text-align:center;
   align-items:center;
  
   
}

.logo{
    width:40px;
    height:40px;
    position:absolute;
    text-transform:uppercase;
    background:#efb1ff;
    /* border-color:#efb1ff 2px solid; */
    clip-path: polygon(48% 0, 91% 24%, 92% 76%, 50% 100%, 8% 76%, 7% 25%);
    position:relative;
   margin-left:2em;
   margin-top:.4em;
}
.logo > span{
    position:absolute;
    z-index:10;
    color:#222831;
    top:.7em;
    left:.95em;
    font-weight:bold;
}
.menus{
    display:flex;
    justify-content:flex-end;
    margin-right:2.1em;
 
}
header svg{
display:none;
}
.sub-menu{
display:flex;
margin-top:.4em;
animation:lay-down 500ms ease-in;
/* background:red; */
}
 
.sub-menu li a{
    color:white;
    /* font-weight:bold; */
    margin:0 .8em;
    font-size:.89em;
    opacity:.78;
    background:#222831;
    padding:.6em .3em .4em;
}
.sub-menu li a:hover{
    color:#efb1ff;
}
.sub-menu li a span{
    color:#efb1ff;
    opacity:1;
    margin-right:.6em;
}
.menus > a{
    margin:0 .7em;
    /* margin-left:0em; */
    border:1px solid #efb1ff;
    padding:.3em .4em;
    font-size:1.1em;
    height:1.99em;
}

main{
    width:700px;
    padding:.7em;
    padding-left:.5em;
    margin-left:140px;
    margin-top:100px;
    font-size:1.8em;
    height:500px;
   
}
.lay-down__animation{
    animation:lay-down 500ms ease-in backwards;
}

.lay-down__animation:nth-child(2){
    animation-delay:.12s;
 }
 .lay-down__animation:nth-child(3){
    animation-delay:.16s;
 }
 .lay-down__animation:nth-child(4){
  animation-delay:.25s;
 
 }
 .lay-down__animation:nth-child(5){
   animation-delay:.28s;
 }
 
main >h3{
    font-size:.5em;
    color:#efb1ff;
    font-weight:bold;
    margin-bottom:.5em;
}
main :nth-child(3){
opacity:.7;
width:700px;
}
main > p{
    margin-bottom:2.2em;
    margin-top:1.6em;
    font-size:.6em;
    line-height:1.4em;
    opacity:.8;
}
main >a {
    border: 2px #efb1ff solid;
    padding:.5em;
    font-size:.7em;
    border-radius:.3em;
    
}
.social-icons{
    position:absolute;
}
.social-icons li a svg{
   fill:#efb1ff;
   width:28px;
   height:28px;
   margin-left:25px;
   padding:.3em 0;
   margin-bottom:1.1em;
}
.side-email{
  
    margin-top:230px;
    transform:rotate(90deg);
    position:fixed;
    right:-.6em;
    font-size:1em;
}
.social-icons  ul{
    position:fixed;
    top:13em;
    left:1.2em;
    opacity:.7;
    font-weight:bold;
}

.about{
    height:380px; 
    display:flex;
    justify-content: space-between;
    margin-left:8.5em;
    padding:1em;
    padding-top:6em;
}
 h2{
    font-size:1.9em;
    width:350px;
    opacity:.80;
}
h2 > span{
    color:#efb1ff;
    font-size:.7em;
}
.about-img{
    position:unset;
    margin-right:27%;
    height:240px;
    margin-top:3.5em;
    opacity:.6;
    
}
.about-img:hover{
    height:242px;
    opacity:1;
    cursor:pointer;
}
.about-desc > p{
    width:500px;
    font-size:1em;
    line-height:1.8em;
    opacity:.8;
     margin-top:1em;
 
}
.skills{
    display:flex;
    margin-top:1.1em;
}
.skills > ul{
    margin-right:3em;
    margin-left:1.1em;
}
.skills ul li{
    padding-bottom:.4em;
    font-size:.88em;
    opacity:.8;
    position:relative;
}
.skills ul li::before,.work-desc-container ul li::before{
   content:"";
   position:absolute;
   width:0px;
   height:0px;
   border:.28em solid;
   border-color:transparent transparent white;
   transform:rotate(90deg);
   left:-.6em;
   top:.3em;
   opacity:.7;
 }
.work{
    width:620px;
    height:300px;
    margin:160px auto;
    padding-top:4em;
}
.work-container{
     display:flex;
    justify-content:space-between;
    height:100%;
    margin-top:2em;
}
.work-container .work-desc{
    display:none;
    position:relative;
    
}
.work-desc-container .active{
    display:block;
    width:500px;
    font-size:1.2em;
    line-height:1.6em;
    opacity:.8;  
}
.work-container > ul{
    margin-top:.3em;
    position:relative;
}


.work-container ul li button{
    background:#222831;
    color:white;
    opacity:.6;
    padding:.07em .2em;
    margin-right:4em;
    margin-top:.5em;
    border:0;
    font-size:.6em;
    outline:none;
    width:70px;
    height:25px;
    cursor:pointer;
}
.work-btns .moe-btn-load{
    color:#efb1ff;
    opacity:1;
    font-weight:bold;
    border-left:.8px solid rgba(255,250,250,.8);
}
.work-container ul li button:hover{
    background:#393e46;
    color:#efb1ff;
    opacity:1;
    font-weight:bold;
}
.work-container .active-btn{
    background:#393e46;
    color:#efb1ff;
    opacity:1;
    font-weight:bold;
}

.work-desc-container ul li{
    position:relative;
    font-size:.88em;
}
.work-desc-container ul li::before{
    top:.7em;
   
}
.projects{
    margin:0 150px;
    padding-top:6em;
    position:relative;
}
.pro1{
   
    width:1150px;
}
.pro-image{
    margin-top:1em;
    width:600px;
    height:400px;
    opacity:.5;
    padding-top:0;
}
.pro-image:hover{
    opacity:1;
    cursor:pointer;
}
.project-container {
    position:relative;
    display:flex;
    margin-top:0em;
}
.projects :nth-child(3) img{
   margin-top:5em;
   margin-left:380px;
}
.card{
   
    width:480px;
    background:#323232;
    padding: .7em .9em ;
    opacity:.7;
    font-size:.88em;
    line-height:1.3em;
}

.tools > ul{
    display:flex;
    justify-content: flex-end;
    color:#888888;
   
   
}
.tools > ul li{
    padding:.3em .3em;
    font-size:.8em;
    font-weight:bold;
}
.tools .link{
    display:flex;
    justify-content: flex-end;
    margin-top:-.3em;
}
.projects svg{
    width:13px;
    height:13px;
    fill:white;
    margin-top:.3em;
}
.pro1-desc{
    position:absolute;
    right:10em;
    bottom:0;

}

.project1-title h3{
    display:flex;
    justify-content: flex-end;
    width:480px;
    padding:.02em .1em;
    opacity:.79;
    margin-bottom:.4em;
}
.pro2-desc{
    position:absolute;
    bottom:-2em;
    /* bottom:10em;
    left:-1em;
   */
   z-index:10; 

}
.pro2-desc > h3{
    margin-bottom:.7em;
    opacity:.79;
}
.pro2-tools{
    display:flex;
    flex-direction:column;
}
.pro2-tools ul{
  
    height:30px;
    display:flex;
    margin-top:.8em;
    width:320px;
  }
.pro2-tools ul:nth-child(1) li{
    margin-right:.6em;
    font-size:.8em;
    margin-top:-.4em;
    opacity:.6;
}
.pro2-tools .pro2-tools-icons{
    width:60px;
    margin-top:-1.2em;
    z-index:1;
 }
 .pro2-tools .pro2-tools-icons li a{
     /* margin-right:1.3em; */
     margin-right:.6em;
 }
.next{
    display:flex;
    flex-direction:column;
    height:400px;
    width:400px;
    text-align:center;
    margin:0 auto;
    margin-top:180px;
    margin-left:390px;
    align-items:center;
    padding-bottom:0;
    padding-top:3em;
}
.next > h4{
    font-size:.8em;
    margin-bottom:.5em;
    color:#efb1ff;
}
.next > p{
    margin-bottom:1.5em;
    margin-top:1em;
    line-height:1.7em;
    font-size:.88em;
    opacity:.8;
}
.next > a{
    border: 2px solid #efb1ff;
    padding:.7em .9em;
}

footer{
    position:absolute;
    height:40px;
    width:229px;
    text-align:center;
    /* margin:0 auto; */
    left:37.5%;
    padding-top:3em;
    font-size:.7em;
}

.scroll-header{
    animation:scroll .7s ease 0s forwards;
}
.scroll-header-downward {
    animation:scrollDown .89s ease 0s forwards; 
}
.page-slide__animation{
    animation:slide-up 500ms ease-in backwards;
}

@keyframes slide-up{
    0%{
        transform:translateY(200px);
        opacity:0;
    }
    50%{
        transform:translateY(150px);
        opacity:1;
    }
    100%{
        transform:translateY(100px);
    }
}
@keyframes scroll{
    0%{
        transform:translateY(0px)
    }
    10%{
        transform:translateY(-2px)
    }
    30%{
        transform:translateY(-3px)
    }
    60%{
        transform:translateY(-4px)
    }
  100%{
    transform:translateY(-100px)
  }
}
@keyframes scrollDown{
    0%{
        transform:translateY(-100px)
    }
    30%{
        transform:translateY(-60px)
    }
    60%{
     transform:translateY(-30px)
  }
  100%{
    transform:translateY(0px)
  }
}

@keyframes lay-down{
0%{
    transform:translateY(-20px);
    opacity:0
}
50%{
    transform:translateY(-15px);
    opacity:1;
}
100%{
    transform:translateY(0);
}

}


.page-load__animate{
   padding:0;
   margin:0;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    height:100vh;
    width:100vw;
    overflow:hidden;
}

@media (max-width:900px){
    body,html{
        overflow-x:hidden;
    }
    .menus{
        display:none;
   }
   .mobile-menu {
        display:block;
       position:absolute;
       top:0;
       right:0em;
       margin:0em;
       flex-direction:column;
        width:100vw;
       background:black;
        height:100vh;
       justify-content:center;
       align-items:center;
     
   }
     header svg{
         display:inline-block;
         right:0;
         top:.5em;
         position:absolute;
         display:block;
         width:50px;
         height:60px;
         fill:white;
         cursor:pointer;
         z-index:10;
       /* border:2px solid white; */
     }
     header .close-btn{
         height:35px;
         top:.7em;
     }
     .sub-menu{
       flex-direction:column;
       /* border:2px solid white; */
       width:300px;
       margin:0 auto;
       margin-top:5em;
       margin-bottom:1em;
       text-align:center;
     }
     .menus > a{
    margin-left:6em;
    
     }
   .sub-menu li a{
       display:block;
       width:100%;
       color:white;
       opacity:.78;
       font-size:1.7em;
       background:black;
       margin-top:0;
   }

 
   main{
       width:396px;
       margin-left:25px;
       height:300px;
       
        font-size:1.7em;
        margin:0 auto;
        margin-top:60px;
        padding-left:0;
       }
   main h1,main:nth-child(3){
       font-size:1.3em;
       width:300px;
   }
   main > p{
       font-size:.5em;
   }
   .about{
        flex-direction:column;
        width:430px;
        /* border:solid 2px white; */
        margin-left:25px;
        margin:0 auto;
   }
   .about-desc > p{
       width:380px;
       font-size:.9em;
    
   }
   .about-desc{
       margin-bottom:1.9em;
   }
   .about-img{
       width:220px;
       height:200px;
       margin-left:50px;
       
   }
   
   .about-img:hover{
       height:205px;
   }
   .work{
       width:400px;
       height:280px;
       margin:260px auto;
       margin-top:400px;
       padding-top:6em;
       /* border:2px solid black; */
     }
   .work-container{
       /* border:2px solid black; */
       display:flex;
       flex-direction:column;
      justify-content:space-between;
      height:100%;
      margin-top:3em;
      margin-left:2em;
   }
   
   
   .work-desc-container ul li{
    padding-left:.6em;
   }
   .work-btns{
       display:flex;
       margin-left:-1.8em;
       margin-bottom:.9em;
       /* border:solid 2px white; */
      }
   .work-btns li{
       width:80px;
   }
   .work-container .active{
       display:block;
       width:370px;
       font-size:1.1em;
       line-height:1.6em;
       opacity:.8;  
   }
   
   .projects{
       width:400px;
       padding-top:0em;
       margin-left:2.3em;
       margin:0 auto;
       margin-top:300px;
   
   }
   .project-container{
        flex-direction:column;
   }
   .pro-image{
       width:400px;
       height:300px;
       margin-top:2em;
       margin-left:0;
   }
   .pro1-desc{
       position:unset;
   }
   .pro1-desc .tools{
       position:absolute;
   }
   .pro1-desc .link{
      width:45px;
   }
   .card{
        width:400px;
        margin-top:.5em;
   }
   
   .project1-title h3{
       display:unset;
       width:unset;
   } 
   .pro2-desc{
       position:absolute;
       bottom:-12.7em;
      z-index:unset;
   }
   .projects :nth-child(3) img{
       margin-top:4em;
       margin-left:unset;
       height:290px;
    }
    .next{
        width:229px;
       margin-top:300px;
       margin-left:25.5%;
   }
   .social-icons{
       bottom:2em;
       left:25.5%;
       width:229px;
   }
.social-icons  ul{
     display:flex;
     position:unset;
    opacity:.7;
    font-weight:bold;
   
}
   .side-email{
       transform:unset;
       position:absolute;
       bottom:1.6em;
       left:25.5%;
       font-size:.7em;
       text-align:center;
       width:229px;
   }
   .footer{
       padding-top:2em;
       left:25.5%;
       width:229px;
   }
   .footer p{
      font-size:.8em;
   }
   }
   @media(min-width:701px) and (max-width:800px){
       main,.about,.projects,.work{
           margin-left:15%;
           margin-right:15%;
       }
       .pro1-desc,.pro2-desc,.card,.pro-image,.work{
           width:500px;
       }
       main h1,main:nth-child(3){
           font-size:1.7em;
           /* width:300px; */
   
       }
  .next{
      margin-left:35%;
  }
  .social-icons,.side-email{
      left:35%;
  }
  .footer{
      margin-left:9%;
  }
   }
   @media(min-width:801px) and (max-width:900px){
       main,.projects,.work{
           margin-left:16%;
       }
       main h1,main:nth-child(3){
           font-size:1.8em;
       }
       main > p{
           font-size:.6em;
       }
       .about{
           margin-left:16%;
           flex-direction:row;
           margin-top:4em;
      }
      .about-img{
          margin-right:-15em;
         
      }
      .about-desc > p{
       font-size:1em;
    }
    .work{
       padding:0;
       margin-top:10em;
       margin-bottom:200px;
       margin-left:16%;
    }
     .work-desc{
        font-size:.9em;
    }
   
   .pro1-desc,.pro2-desc,.card,.pro-image{
       width:600px;
   }
   .next{
       margin-top:30em;
       margin-left:35%;
   }
   .social-icons,.side-email{
    left:35%;
}
.footer{
    margin-left:9%;
}
   }
   
   @media(min-width:901px) and (max-width:1241px){
       main,.about,.projects,.work,.next{
           margin:0 auto;
           margin-left:10.5%;
           margin-right:5.5%;
          
       }
       
  header .close-btn{
      height:0;
      width:0;
   }
   .about-img{
       position:absolute;
       right:-12em;
     
   }
   .about-desc > p{
      width:450px;
    }
   .pro-image{
       width:470px;
   }
   .pro1-desc{
       position:absolute;
        right:400px;
 }
   .pro2-desc{
       /* background:red; */
       width:440px;
       left:-1.9em;
   }
   .projects :nth-child(3) img{
       margin-left:17em;
     width:470px;
     height:340px;
    }
    .next{
        margin:250px auto;
        margin-left:29.5%;
    }
    .side-email{
        transform:unset;
       position:absolute;
       bottom:1em;
      left:37.5%;
      font-size:.8em;
      text-align:center;
      width:229px;
      
   }
   .social-icons{
           bottom:3em;
           left:37.5%;
           width:229px;
       }
   .social-icons  ul{
       display:flex;
       position:unset;
      opacity:.7;
      font-weight:bold;
    
   }
   main{
       margin-top:1.3em;
       height:360px;
   }
   
   .work,.projects,.about{
       margin-top:6em;
   }
   } 
